@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #e6e6e6;
}

.navbar {
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: #282c34;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
}

.navbar-title {
    margin-top: 22px;
    color: white;
}

.fa-car-side {
    margin-top: 29px;
    margin-left: 15px;
    font-size: 32px;
    color: white;
}

.main-content {
    margin-top: 105px;
}

.main-content-sort-data {
    display: flex;
    justify-content: right;
    margin-right: 11.5%;
    height: 56px;
}

.sort-dropdown, .sort-btn-submit {
    margin: 0px 10px 0px 0px;
    font-size: 20px;
}

select, input {
    font-size: 16px;
    padding: 6px;
    cursor: pointer;
}

input[class="sort-btn"] {
    background-color: #E6356F;
    border: 2px solid #E6356F;
    color: white;
}

.car-list-item-header {
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.car-list-container {
    margin-left: 12%;
    margin-right: 12%;
    background: #ffffff;
    border-radius: 5px;
    padding: 50px;
}

.car-list-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.car-list-item-content-container {
    display: flex;
    flex-direction: row;
}

.car-list-item-content {
    font-size: 16px;
    padding-left: 5%;
    padding-right: 5%;
}

.car-list-item-vendor-icon {
    width: 70px;
    margin-top: 5px;
    margin-left: 12px;
}

.car-list-item {
    padding: 22px 16px;
    font-size: 28px;
    border: 1px solid #EFEFEF;
    z-index: 0;
    position: relative;
}

.car-list-item-img-container {
    width: 100%;
    text-align: center;
    padding-top: 8px;
}

.car-list-item-img {
    width: 240px;
}

table {
    width: 250px;
    margin: auto;
    margin-bottom: 6px;
}

th, td {
    padding: 2px 12px;
}

.car-info-prop {
    color: #8c8c8c
}

.car-info-value {
    font-weight: 700;
}

.car-list-item-subtext {
    color: #999999;
    font-size: 14px;
    margin-bottom: 25px;
    margin-top: -2px;
}

.car-list-item-view-btn {
    width: 100%;
    color: #E6356F;
    background-color: white;
    border: 1px solid #E6356F;
    padding: 6px;
    font-size: 14px;
    cursor: pointer;
}

.car-list-item-view-btn:hover {
    background-color: #E6356F;
    color: white;
}

.car-list-item-details {
    width: 280px;
    height: 417px;
    z-index: 5;
    border: 1px solid red;
}

.show-hide-div {
    display: none;
}

.show-hide-div.show {
    display: block;
    z-index: 999;
    margin-top: -105%;
    background-color: white;
    padding: 16px;
    width: 248px;
    height: 254px;
    position: absolute;
    border-radius: 5px;
    font-size: 16px;
}